{{!-- {{#each images}}
<img src="/{{url}}" alt="" class="responsive-img" width="350" height="350">
{{/each}} --}}
{{#each images}}
<img src="{{cloudImage}}" class="responsive-img" width="350" height="350">
{{/each}}
<br> 
<br>
<br>
<a href="/" class="btn blue">Upload Image</a>